body {background-image: url("BlueBackground.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 75%;
	height: auto;
	margin: 7%;
}
div#banner {
	border: solid #e0e0d1;
	border-width: 10px;
	border-style: outset;
	background-color: white;

}
div#anxiety {
	
	width: 300px;
	height: 200px;
	display: inline;
	float: right;
}
div#depression {
	width: 300px;
	height: 200px;
	margin: 15px;
}
div#footer {
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	float: right;
	

}
li a{
	display: block;
	padding: 8px;
	text-decoration: none;
	text-align: center;
}
li {
	display: inline;
	border: 1px solid black;
	margin: 7px;
	float: left;
	background-color: white;
}




