body {
	background-color: #9fbfdf; 
	width: 75%;
	height: auto;
	margin: 7%;
}

div#banner {
	border: dashed black;

}

div#anxiety {
	width: 300px;
	height: 200px;
	display: inline;
	float: right;
	margin: 15px;
}

div#depression {
	width: 300px;
	height: 200px;
	margin: 15px;
}

.blueButton {
    background-color: #9fbfdf;
    color: black;
    transition: all 0.3s; 
    text-align: center;
    border: 4px solid blue;
    cursor: pointer;
    font-size: 20px;
    padding 10px 25px;
    border-radius 5px;
    margin: 4px;
}

.blueButton:hover {
    background-color: blue;
    color: white;
}

.blueButton span:after {
    content: '\00bb';
    position: absolute:
    opacity: 0;
    top: 0;
    right: -20px; 
    transition: 0.3s;
}

.blueButton:hover span:after {
    opacity: 1;
    right: 0;
}

