body {
	background-repeat: no-repeat;
	background-size:
	width: 90%;
	height: auto;
	margin: auto;	
}

div#banner {
	background-color: white;
	padding: 100px;
	background-image: url("heartHands.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%
}
h1#title{
	font-size: 60px;
	font-weight:bold;
	font-family: monospace;
	text-shadow: 3px 3px white; 
}
div#anxiety {
	background-image: url("blueGradient.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px
}
div#anxietyInformation {
	font-size: 20px;
}
button#bigButton{
	width: 250px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
	padding: 10px;
	border-radius: 30px;
}

button:hover{
	background-color: #ffc266;
}

p#depressionInformation{
	font-size: 20px;
}

div#header {
	height: 100px;
	margin-left: 10%;
	margin-top: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	overflow: hidden;
	display: inline;
	

}
li a{
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}
li {
	float: left;
	border: 1px solid black;
	margin: 7px;
	float: left;
	background-color: white;
	border-radius: 7px;
}

.blueButton {
    background-color: white;
    background-color: #9fbfdf;
    color: black;
    transition: all 0.3s; 
    text-align: center;
     border: 4px solid blue;
     cursor: pointer;
     font-size: 20px;
     padding 10px 25px;
     border-radius 5px;
     margin: 4px;
 }
 
 button#blueButton:hover {
     background-color: blue;
     color: white;
 }
 
 button#blueButton span:after {
     content: '\00bb';
     position: absolute:
     opacity: 0;
     top: 0;
     right: -20px; 
     transition: 0.3s;
 }
 
 button#blueButton:hover span:after {
     opacity: 1;
     right: 0;
 }
body#results {
	font-size: 20px;
	background-image: url("blueGradient.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 10%;
}



