<!DOCTYPE html>
<html>
<head>
	<title>Depression Assessment</title>
	<link href="../../static/questionStyle.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<center>
		<h1 id="banner">Depression Assessment</h1>
		
	</center>
	&nbsp;
	<center>
			<p id="info">For the following questions, please answer in respect to the <br />
	 		past two weeks. Think of how often you have been bothered by the following problems</p>
	 </center>
	 		<!-- These are all the questions and buttons that correspond to various answers --> 
	 	<div id="questions">
	 		&nbsp;
			<h4>1. Little interest</h4>
			<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>2. Feeling down,&nbsp; depressed,&nbsp; or hopeless</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>3. Trouble falling asleep,&nbsp; or sleeping too much</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>4. Feeling tired or having little energy</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>5. Poor appetite or over eating</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>6. Feeling bad about yourself  or that you are a failure <br />
	 		or have let yourself or your family down</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>7. Trouble concentrating on things, such as reading <br /> the newspaper or watching television</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>8. Moving or speaking so slowly that other people could have noticed
	 			<br /> Or the opposite being so fidgety or restless that you have been <br /> moving around a lot more that usual</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<h4>7. Trouble concentrating on things, such as reading <br /> the newspaper or watching television</h4>
	 		<form>
			<input id="1.1" type="radio" name="set1">Not at All</input> 
			<input id="1.2" type="radio" name="set1">Several Days</input>
			<input type="radio" id="1.3" name="set1">More Than Half the Days</input>
			<input type="radio" id="1.4" name="set1">Nearly Every Day</input>
		</form>
	 		&nbsp;
	 		<form method="GET" action="./results/">
              <button type="submit" class="blueButton">Submit</button>
            </form>
	 </div>

</body>
</html>