<!DOCTYPE html>
<html>
<head>
	<title>Depression Assessment</title>

    <link href="../static/HomePageStyle.css" rel="stylesheet" type="text/css"/>

</head>
<body>
	<!-- This is Where the Javascript section is! --> 
	 			<script>
	//this variable keeps track of the score, later all the answers to the question will be added by and stored here in score	
	var score = 0

	//these variables store the values for the 
	var question_1 = 1;
	var question_2 = 2;
	var question_3 = 3;
    var question_4 = 4;
    var question_5 = 5;
    var question_6 = 6;
    var question_7 = 7;
    var question_8 = 8;
    var question_9 = 9;

    var score_array = Array(10); 
    for (var i = score_array.length - 1; i >= 0; i--) {
    	score_array[i] = 0; 
    }

    //each of these fuctions updates answer assigned to each question
    function never(x) {
    	console.log("Running never function with " + x ); 
    	score_array[x] = 0 ; 
    	document.getElementById("demo").innerHTML = sum_score();
    } // The function adds 0 to the score

	function several_days(x) {
		console.log("Running several_days function with " + x); 
    	score_array[x] = 1; 
    	document.getElementById("demo").innerHTML = sum_score();
    } // The function adds 1 to the score

    function more_than_half(x) {
    	console.log("Running more_than_half function with " + x); 
    	score_array[x] = 2; 
    	document.getElementById("demo").innerHTML = sum_score();
    } // The function adds 2 to the score

    function every_day(x) {
    	console.log("Running every_day function with " + x); 
    	score_array[x] = 3; 
    	document.getElementById("demo").innerHTML = sum_score();
    }

    function sum_score() {
    	// score = question_1+question_2+question_3+question_4+question_5+question_6 +question_7+question_8+question_9;
    	var result = 0; 
    	var index = 0; 
    	for (let value of score_array) {

  			result += score_array[index];
  			index++;
		}
		console.log(result); 
    	return result
    }
	</script>

	<center>
		<h1>Depression Assessment</h1>
	</center>
	&nbsp;
	<center>
			<p>For the following questions, please answer in respect to the <br />
	 		past two weeks. Think of how often you have been bothered by the following problems</p>

	 		<!-- This is Where the Javascript section is!  <H1 id="demo"></H1>-->


	 </center>
	 		<!-- These are all the questions and buttons that correspond to various answers --> 
	 		&nbsp;
			<h4>1. Little interest</h4>
			<button type="button" onclick="never(question_1)">Not at All</button> 
			<button type="button" onclick="several_days(question_1)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_1)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_1)">Nearly Every Day</button>
	 		&nbsp;
	 		<h4>2. Feeling down,&nbsp; depressed,&nbsp; or hopeless</h4>
	 		<button type="button"onclick="never(question_2)">Not at All</button> 
			<button type="button" onclick="several_days(question_2)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_2)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_2)">Nearly Every Day</button>
	 		&nbsp;
	 		
	 		&nbsp;
	 		<h4>3. Trouble falling asleep,&nbsp; or sleeping too much</h4>
	 		<button type="button"onclick="never(question_3)">Not at All</button> 
			<button type="button" onclick="several_days(question_3)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_3)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_3)">Nearly Every Day</button>
	 		&nbsp;
	 		<h4>4. Feeling tired or having little energy</h4>
	 		<button type="button"onclick="never(question_4)">Not at All</button> 
			<button type="button" onclick="several_days(question_4)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_4)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_4)">Nearly Every Day</button>
	 		&nbsp;
	 		&nbsp;
	 		<h4>5. Poor appetite or over eating</h4>
	 		<button type="button"onclick="never(question_5)">Not at All</button> 
			<button type="button" onclick="several_days(question_5)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_5)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_5)">Nearly Every Day</button>
	 		&nbsp;
	 		&nbsp;
	 		<h4>6. Feeling bad about yourself  or that you are a failure <br />
	 		or have let yourself or your family down</h4>
	 		<button type="button"onclick="never(question_6 )">Not at All</button> 
			<button type="button" onclick="several_days(question_6 )"> Several Days</button>
			<button type="button" onclick="more_than_half(question_6 )">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_6 )">Nearly Every Day</button>
	 		&nbsp;
	 		&nbsp;
	 		<h4>7. Trouble concentrating on things, such as reading <br /> the newspaper or watching television</h4>
	 	<button type="button"onclick="never(question_7)">Not at All</button> 
			<button type="button" onclick="several_days(question_7)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_7)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_7)">Nearly Every Day</button>
	 		&nbsp;
	 		&nbsp;
	 		<h4>8. Moving or speaking so slowly that other people could have noticed
	 			<br /> Or the opposite being so fidgety or restless that you have been <br /> moving around a lot more that usual</h4>
	 		<button type="button"onclick="never(question_8 )">Not at All</button> 
			<button type="button" onclick="several_days(question_8 )"> Several Days</button>
			<button type="button" onclick="more_than_half(question_8 )">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_8 )">Nearly Every Day</button>
	 		&nbsp;
	 		<h4>9. Trouble concentrating on things, such as reading <br /> the newspaper or watching television</h4>
	 		<button type="button"onclick="never(question_9)">Not at All</button> 
			<button type="button" onclick="several_days(question_9)"> Several Days</button>
			<button type="button" onclick="more_than_half(question_9)">More Than Half the Days</button>
			<button type="button" onclick="every_day(question_9)">Nearly Every Day</button>
	 		&nbsp;

 			<br />
 			<br />
 			<br />

 			<center>
					<h5>click here to submit your answers</h5> 
					<form method="GET" action="./results/">
              <button type="submit" class="blueButton" onclick="submit_score()">Submit</button>
            </form>				
	 				
	 		</center>

<script>
	document.getElementById("demo").innerHTML = sum_score();

	function submit_score() {
		var final_score = sun_score()
		sessionStorage.setItem('depression_score', final_score)
	}
</script>

</body>
</html>

